.valor-bloco{
    opacity: 0.5;
    text-align: center;
    color: white;
    width: 18px;
}

.bloco-azul{
    margin: 0;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #13b4ff;
}

.bloco-azul:hover .valor-bloco{
    opacity: 1;
    color: white;
    text-align: center;
}

.bloco-verde{
    margin: 0;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    background: springgreen;
}

.bloco-verde:hover .valor-bloco{
    opacity: 1;
    color: white;
    text-align: center;
}

.bloco-vermelho{
    margin: 0;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #ae163e;
}